<h1>Hello !</h1>
<p>
  This is intranet wiki for the users of the The Floow organization !
  In order to use this application login or signup using the below link. 
</p>
<p>
  <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary btn-lg' %> 
  <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
</p>